@import 'style.css';
body {
  background: #f1f1f1;
}
body {
  background: #ffffff;
}
.guide-section {
  width: 100%;
  height: 100%;
}
.guide-section .guide-skip {
  position: fixed;
  top: 40px;
  width: 100%;
  height: 64px;
  line-height: 64px;
  z-index: 10;
}
.guide-section .guide-skip .logo {
  float: left;
  margin-left: 60px;
}
.guide-section .guide-skip .logo img {
  vertical-align: middle;
  cursor: pointer;
}
.guide-section .guide-skip .skip-button {
  float: right;
  margin-right: 60px;
  font-size: 18px;
  color: #999999;
  width: 126px;
  height: 46px;
  line-height: 46px;
  background: #ffffff;
  border-radius: 23px;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
}
.guide-section .dot-ab {
  position: absolute;
  width: 634px;
  height: 634px;
  top: 50%;
  left: 50%;
  margin: -317px 0 0 -317px;
  z-index: 10;
}
.guide-section .dot-ab .dot-re {
  position: relative;
  width: 100%;
  height: 100%;
}
.guide-section .dot-ab .dot-re .dot {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  visibility: visible;
}
.guide-section .dot-ab .dot-re .dot:before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: -15px 0 0 -15px;
  border-radius: 50%;
  background: #ffffff;
  display: inline-block;
}
.guide-section .dot-ab .dot-re .dot:after {
  content: '';
  width: 46px;
  height: 46px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: -25px 0 0 -25px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: inline-block;
}
.guide-section .dot-ab .dot-re .dot:nth-child(1) {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  animation: dotShow 2.5s ease 0s;
  -moz-animation: dotShow 2.5s ease 0s;
  /* Firefox */
  -webkit-animation: dotShow 2.5s ease 0s;
  /* Safari 和 Chrome */
  -o-animation: dotShow 2.5s ease 0s;
  /* Opera */
}
.guide-section .dot-ab .dot-re .dot:nth-child(2) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  animation: dotShow 2.5s ease 3s;
  -moz-animation: dotShow 2.5s ease 3s;
  /* Firefox */
  -webkit-animation: dotShow 2.5s ease 3s;
  /* Safari 和 Chrome */
  -o-animation: dotShow 2.5s ease 3s;
  /* Opera */
}
.guide-section .dot-ab .dot-re .dot:nth-child(3) {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  animation: dotShow 2.5s ease 5.5s;
  -moz-animation: dotShow 2.5s ease 5.5s;
  /* Firefox */
  -webkit-animation: dotShow 2.5s ease 5.5s;
  /* Safari 和 Chrome */
  -o-animation: dotShow 2.5s ease 5.5s;
  /* Opera */
}
.guide-section .dot-ab .dot-re .dot:nth-child(4) {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  animation: dotShow 2.5s ease 8s;
  -moz-animation: dotShow 2.5s ease 8s;
  /* Firefox */
  -webkit-animation: dotShow 2.5s ease 8s;
  /* Safari 和 Chrome */
  -o-animation: dotShow 2.5s ease 8s;
  /* Opera */
}
.guide-section .dot-ab .dot-re .dot:nth-child(5) {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  animation: dotShow 2.5s ease 10.5s;
  -moz-animation: dotShow 2.5s ease 10.5s;
  /* Firefox */
  -webkit-animation: dotShow 2.5s ease 10.5s;
  /* Safari 和 Chrome */
  -o-animation: dotShow 2.5s ease 10.5s;
  /* Opera */
}
.guide-section .dot-ab .dot-re .dot:nth-child(6) {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  animation: dotShow 2.5s ease 13s;
  -moz-animation: dotShow 2.5s ease 13s;
  /* Firefox */
  -webkit-animation: dotShow 2.5s ease 13s;
  /* Safari 和 Chrome */
  -o-animation: dotShow 2.5s ease 13s;
  /* Opera */
}
.guide-section .dot-ab .dot-re .dot:nth-child(7) {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  animation: dotShow 2.5s ease 15.5s;
  -moz-animation: dotShow 2.5s ease 15.5s;
  /* Firefox */
  -webkit-animation: dotShow 2.5s ease 15.5s;
  /* Safari 和 Chrome */
  -o-animation: dotShow 2.5s ease 15.5s;
  /* Opera */
}
.guide-section .dot-ab .dot-re .dot:nth-child(8) {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  animation: dotShow 2.5s ease 18s;
  -moz-animation: dotShow 2.5s ease 18s;
  /* Firefox */
  -webkit-animation: dotShow 2.5s ease 18s;
  /* Safari 和 Chrome */
  -o-animation: dotShow 2.5s ease 18s;
  /* Opera */
}
@keyframes dotShow {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.guide-section .year-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -76px 0 0 -137px;
  z-index: 10;
  height: 152px;
  width: 274px;
  overflow: hidden;
}
.guide-section .year-box span {
  font-size: 137px;
  color: #ffffff;
  font-family: 'Times New Roman', 'arial';
  line-height: 152px;
  text-align: center;
  display: inline-block;
  width: 25%;
  float: left;
}
.guide-section .year-box #year-pre {
  height: 100%;
}
.guide-section .year-box #year-next {
  height: 100%;
}
.guide-section #canvas {
  position: absolute;
  z-index: 8;
}
.guide-section #canvasRipple {
  position: absolute;
  z-index: 7;
}
.guide-section .img-box {
  position: absolute;
  max-height: 949px;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.guide-section .img-box img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
}
.guide-section .img-box img:nth-child(1) {
  opacity: 1;
  z-index: 1;
  transition: all 2.5s ease-in 0s;
  -webkit-transition: all 2.5s ease-in 0s;
  -moz-transition: all 2.5s ease-in 0s;
  -ms-transition: all 2.5s ease-in 0s;
}
.guide-section .img-box img:nth-child(2) {
  z-index: 2;
  transition: all 2.5s ease-in 2.5s;
  -webkit-transition: all 2.5s ease-in 2.5s;
  -moz-transition: all 2.5s ease-in 2.5s;
  -ms-transition: all 2.5s ease-in 2.5s;
}
.guide-section .img-box img:nth-child(3) {
  z-index: 3;
  transition: all 2.5s ease-in 5s;
  -webkit-transition: all 2.5s ease-in 5s;
  -moz-transition: all 2.5s ease-in 5s;
  -ms-transition: all 2.5s ease-in 5s;
}
.guide-section .img-box img:nth-child(4) {
  z-index: 4;
  transition: all 2.5s ease-in 7.5s;
  -webkit-transition: all 2.5s ease-in 7.5s;
  -moz-transition: all 2.5s ease-in 7.5s;
  -ms-transition: all 2.5s ease-in 7.5s;
}
.guide-section .img-box img:nth-child(5) {
  z-index: 5;
  transition: all 2.5s ease-in 10s;
  -webkit-transition: all 2.5s ease-in 10s;
  -moz-transition: all 2.5s ease-in 10s;
  -ms-transition: all 2.5s ease-in 10s;
}
.guide-section .img-box img:nth-child(6) {
  z-index: 6;
  transition: all 2.5s ease-in 12.5s;
  -webkit-transition: all 2.5s ease-in 12.5s;
  -moz-transition: all 2.5s ease-in 12.5s;
  -ms-transition: all 2.5s ease-in 12.5s;
}
.guide-section .img-box img:nth-child(7) {
  z-index: 7;
  transition: all 2.5s ease-in 15s;
  -webkit-transition: all 2.5s ease-in 15s;
  -moz-transition: all 2.5s ease-in 15s;
  -ms-transition: all 2.5s ease-in 15s;
}
.guide-section .img-box img:nth-child(8) {
  z-index: 8;
  transition: all 2.5s ease-in 17.5s;
  -webkit-transition: all 2.5s ease-in 17.5s;
  -moz-transition: all 2.5s ease-in 17.5s;
  -ms-transition: all 2.5s ease-in 17.5s;
}
.guide-section .img-box.active img {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
}
